.about-page {
    background-color: #000;
    color: #fff;
    font-family: "DM Serif Display", serif;
    line-height: 1.6;
    min-height: 100vh;
}

.hero {
    color: #fff;
    text-align: center;
    padding: 3rem 3rem;
}

.hero-content h1 {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
}

.hero-content p {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: #ddd;
}

.image-section img{
    width: 80%;
    max-height: 610px;
    object-fit: cover;
    object-position: 90%;
    display: block;
    margin: 0 auto;
}
.quote-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 10rem;
}
.quote-section img {
    width: 90%;
    max-width: 600px;
    height: auto;
    object-fit: cover;
}

.quote-section blockquote {
    font-family: "DM Serif Display", serif;
    width: 30%;
    color: white;
    font-size: 1.7rem;
    font-style: italic;
    line-height: 2.0;
}
.mission,.values {
    max-width: 900px;
    margin: 4rem auto;
    padding: 0 2rem;
    text-align: center;
}

.values-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.values-grid h3 {
    color: #fff;
    margin-bottom: 1rem;
}

.footer {
    text-align: center;
    background: #111;
    color: #ccc;
    padding: 2rem;
}
