# dependencies
node_modules/

# environment variables
.env
.env.*     # ignore all env variants



build/
.cache/
.next/
.nuxt/


npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

# system files
.DS_Store
Thumbs.db

# editor settings
.vscode/
.idea/

# test coverage
coverage/

# Ignore all uploaded files
# (updated to new project folder name)
dhp-store/server/src/uploads/*

# But allow the gitkeep file (see Step 2)
!dhp-store/server/src/uploads/.gitkeep
