.chatbot-wrapper {
  position: fixed;
  bottom: 20px;
  right: 50px;
  z-index: 1000;
}

.chat-toggle-btn {
  width: 67px;
  height: 67px;
  border-radius: 50%;
  background: black;
  color: white;
  border: none;
  font-size: 36px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.chat-window {
  width: 300px;
  height: 400px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chat-header {
  background: black;
  color: white;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: #f9f9f9;
  font-family:'DM Sans', sans-serif ;
}

.message {
  padding: 8px 12px;
  border-radius: 8px;
  max-width: 80%;
  font-size: 14px;
}

.message.user {
  align-self: flex-end;
  background: black;
  color: white;
}

.message.bot {
  align-self: flex-start;
  background: #e0e0e0;
  color: black;
}

.chat-input-area {
  display: flex;
  border-top: 1px solid #eee;
}

.chat-input-area input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

.chat-input-area button {
  padding: 0 15px;
  background: white;
  border: none;
  color: blue;
  font-weight: bold;
  cursor: pointer;
}