# dependencies
node_modules/

# environment variables
.env
.env.*     # ignore all env variants

# build outputs
dist/
build/
.cache/
.next/
.nuxt/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

# system files
.DS_Store
Thumbs.db

# editor settings
.vscode/
.idea/

# test coverage
coverage/
